@model Question
@{
    ViewData["Title"] = "AddAnswerForm";
}

<h1>Add New Answer</h1>

<form method="post" action="/answers/addanswer">
    <input type="hidden" name="questionid" value="@Model.id" />
    Detail: <input type="text" name="detail" /><br />
    <input type="submit" value="Save" />
</form>